In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve 
from sklearn.metrics import auc
from sklearn.metrics import accuracy_score
import numpy as np
import xgboost as xgb
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
train =pd.read_csv("../titanic/train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
test = pd.read_csv("../titanic/test.csv")

In [6]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [7]:
def kesson_table(df): 
        null_val = df.isnull().sum()
        percent = 100 * df.isnull().sum()/len(df)
        kesson_table = pd.concat([null_val, percent], axis=1)
        kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
        return kesson_table_ren_columns

In [8]:
kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age          177  19.865320
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       2   0.224467

In [9]:
kesson_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age           86  20.574163
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           1   0.239234
Cabin        327  78.229665
Embarked       0   0.000000

In [10]:
train["Age"] = train["Age"].fillna(train["Age"].mean())
train["Embarked"] = train["Embarked"].fillna("S")
kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       0   0.000000

In [11]:
test["Age"] = test["Age"].fillna(test["Age"].mean())
test["Embarked"] = test["Embarked"].fillna("S")
test["Fare"] = test["Fare"].fillna(test["Fare"].median())
kesson_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        327  78.229665
Embarked       0   0.000000

In [12]:
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
train.head()
train.drop("Cabin",axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,0
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,2

In [14]:
train2 = train.drop("Cabin",axis=1)
train2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

In [15]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1
test["Embarked"][test["Embarked"] == "S"] = 0
test["Embarked"][test["Embarked"] == "C"] = 1
test["Embarked"][test["Embarked"] == "Q"] = 2

/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/takadayuuya/.pyenv/versions/anaconda3-4.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
test.head()
test.drop("Cabin",axis=1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",0,34.50000,0,0,330911,7.8292,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.00000,1,0,363272,7.0000,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.00000,0,0,240276,9.6875,2
3,895,3,"Wirz, Mr. Albert",0,27.00000,0,0,315154,8.6625,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.00000,1,1,3101298,12.2875,0
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",0,30.27259,0,0,A.5. 3236,8.0500,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.00000,0,0,PC 17758,108.9000,1
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,0
416,1308,3,"Ware, Mr. Frederick",0,30.27259,0,0,359309,8.0500,0
417,1309,3,"Peter, Master. Michael J",0,30.27259,1,1,2668,22.3583,1

In [18]:
test2 = test.drop("Cabin",axis=1)
test2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,0

In [19]:
target = train2["Survived"].values
features_one = train2[["Pclass", "Sex",  "Age",  "Fare"]].values

In [20]:
my_tree_one =DecisionTreeClassifier(random_state=0)
my_tree_one.fit(features_one, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [21]:
test_features = test2[["Pclass", "Sex",  "Age",  "Fare"]].values

In [22]:
my_prediction = my_tree_one.predict(test_features)

In [23]:
test_features.shape

(418, 4)

In [24]:
test_features

array([[3, 0, 34.5, 7.8292],
       [3, 1, 47.0, 7.0],
       [2, 0, 62.0, 9.6875],
       ...,
       [3, 0, 38.5, 7.25],
       [3, 0, 30.272590361445783, 8.05],
       [3, 0, 30.272590361445783, 22.3583]], dtype=object)

In [25]:
print(my_prediction)

[0 0 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0
 0 0 1 0 0 0 1 1 0 1 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 1 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0
 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 1 0 0 1 0 0 0]

In [26]:

# PassengerIdを取得
PassengerId = np.array(test["PassengerId"]).astype(int)
# my_prediction(予測データ）とPassengerIdをデータフレームへ落とし込む
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
# my_tree_one.csvとして書き出し
my_solution.to_csv("my_tree_one.csv", index_label = ["PassengerId"])

In [27]:
pd.set_option('display.max_rows', 900)

In [28]:
pd.DataFrame(train["Ticket"])

                 Ticket
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
5                330877
6                 17463
7                349909
8                347742
9                237736
10              PP 9549
11               113783
12            A/5. 2151
13               347082
14               350406
15               248706
16               382652
17               244373
18               345763
19                 2649
20               239865
21               248698
22               330923
23               113788
24               349909
25               347077
26                 2631
27                19950
28               330959
29               349216
30             PC 17601
31             PC 17569
32               335677
33           C.A. 24579
34             PC 17604
35               113789
36                 2677
37           A./5. 2152
38               345764
39                 2651
40                 7546
41                11668
42               349253
43        SC/Paris 2123
44               330958
45      S.C./A.4. 23567
46               370371
47                14311
48                 2662
49               349237
50              3101295
51           A/4. 39886
52             PC 17572
53                 2926
54               113509
55                19947
56           C.A. 31026
57                 2697
58           C.A. 34651
59              CA 2144
60                 2669
61               113572
62                36973
63               347088
64             PC 17605
65                 2661
66           C.A. 29395
67            S.P. 3464
68              3101281
69               315151
70           C.A. 33111
71              CA 2144
72         S.O.C. 14879
73                 2680
74                 1601
75               348123
76               349208
77               374746
78               248738
79               364516
80               345767
81               345779
82               330932
83               113059
84           SO/C 14885
85              3101278
86           W./C. 6608
87      SOTON/OQ 392086
88                19950
89               343275
90               343276
91               347466
92          W.E.P. 5734
93            C.A. 2315
94               364500
95               374910
96             PC 17754
97             PC 17759
98               231919
99               244367
100              349245
101              349215
102               35281
103                7540
104             3101276
105              349207
106              343120
107              312991
108              349249
109              371110
110              110465
111                2665
112              324669
113                4136
114                2627
115   STON/O 2. 3101294
116              370369
117               11668
118            PC 17558
119              347082
120        S.O.C. 14879
121           A4. 54510
122              237736
123               27267
124               35281
125                2651
126              370372
127             C 17369
128                2668
129              347061
130              349241
131  SOTON/O.Q. 3101307
132           A/5. 3337
133              228414
134          C.A. 29178
135       SC/PARIS 2133
136               11752
137              113803
138                7534
139            PC 17593
140                2678
141              347081
142    STON/O2. 3101279
143              365222
144              231945
145          C.A. 33112
146              350043
147          W./C. 6608
148              230080
149              244310
150         S.O.P. 1166
151              113776
152          A.5. 11206
153            A/5. 851
154           Fa 265302
155            PC 17597
156               35851
157     SOTON/OQ 392090
158              315037
159            CA. 2343
160              371362
161          C.A. 33595
162              347068
163              315093
164             3101295
165              363291
166              113505
167              347088
168            PC 17318
169                1601
170              111240
171              382652
172              347742
173   STON/O 2. 3101280
174               17764
175              350404
176                4133
177            PC 17595
178              250653
179                LINE
180            CA. 2343
181       SC/PARIS 2131
182              347077
183              230136
184              315153
185              113767
186              370365
187              111428
188              364849
189              349247
190              234604
191               28424
192              350046
193              230080
194            PC 17610
195            PC 17569
196              368703
197                4579
198              370370
199              248747
200              345770
201            CA. 2343
202             3101264
203                2628
204            A/5 3540
205              347054
206             3101278
207                2699
208              367231
209              112277
210  SOTON/O.Q. 3101311
211        F.C.C. 13528
212           A/5 21174
213              250646
214              367229
215               35273
216    STON/O2. 3101283
217              243847
218               11813
219           W/C 14208
220     SOTON/OQ 392089
221              220367
222               21440
223              349234
224               19943
225             PP 4348
226           SW/PP 751
227           A/5 21173
228              236171
229                4133
230               36973
231              347067
232              237442
233              347077
234          C.A. 29566
235          W./C. 6609
236               26707
237          C.A. 31921
238               28665
239          SCO/W 1585
240                2665
241              367230
242         W./C. 14263
243   STON/O 2. 3101275
244                2694
245               19928
246              347071
247              250649
248               11751
249              244252
250              362316
251              347054
252              113514
253           A/5. 3336
254              370129
255                2650
256            PC 17585
257              110152
258            PC 17755
259              230433
260              384461
261              347077
262              110413
263              112059
264              382649
265          C.A. 17248
266             3101295
267              347083
268            PC 17582
269            PC 17760
270              113798
271                LINE
272              250644
273            PC 17596
274              370375
275               13502
276              347073
277              239853
278              382652
279           C.A. 2673
280              336439
281              347464
282              345778
283          A/5. 10482
284              113056
285              349239
286              345774
287              349206
288              237798
289              370373
290               19877
291               11967
292       SC/Paris 2163
293              349236
294              349233
295            PC 17612
296                2693
297              113781
298               19988
299            PC 17558
300                9234
301              367226
302                LINE
303              226593
304            A/5 2466
305              113781
306               17421
307            PC 17758
308           P/PP 3381
309            PC 17485
310               11767
311            PC 17608
312              250651
313              349243
314        F.C.C. 13529
315              347470
316              244367
317               29011
318               36928
319               16966
320           A/5 21172
321              349219
322              234818
323              248738
324            CA. 2343
325            PC 17760
326              345364
327               28551
328              363291
329              111361
330              367226
331              113043
332            PC 17582
333              345764
334            PC 17611
335              349225
336              113776
337               16966
338                7598
339              113784
340              230080
341               19950
342              248740
343              244361
344              229236
345              248733
346               31418
347              386525
348          C.A. 37671
349              315088
350                7267
351              113510
352                2695
353              349237
354                2647
355              345783
356              113505
357              237671
358              330931
359              330980
360              347088
361       SC/PARIS 2167
362                2691
363  SOTON/O.Q. 3101310
364              370365
365              C 7076
366              110813
367                2626
368               14313
369            PC 17477
370               11765
371             3101267
372              323951
373            PC 17760
374              349909
375            PC 17604
376              C 7077
377              113503
378                2648
379              347069
380            PC 17757
381                2653
382   STON/O 2. 3101293
383              113789
384              349227
385        S.O.C. 14879
386             CA 2144
387               27849
388              367655
389             SC 1748
390              113760
391              350034
392             3101277
393               35273
394             PP 9549
395              350052
396              350407
397               28403
398              244278
399              240929
400   STON/O 2. 3101289
401              341826
402                4137
403    STON/O2. 3101279
404              315096
405               28664
406              347064
407               29106
408              312992
409                4133
410              349222
411              394140
412               19928
413              239853
414   STON/O 2. 3101269
415              343095
416               28220
417              250652
418               28228
419              345773
420              349254
421          A/5. 13032
422              315082
423              347080
424              370129
425          A/4. 34244
426                2003
427              250655
428              364851
429   SOTON/O.Q. 392078
430              110564
431              376564
432          SC/AH 3085
433   STON/O 2. 3101274
434               13507
435              113760
436          W./C. 6608
437               29106
438               19950
439          C.A. 18723
440        F.C.C. 13529
441              345769
442              347076
443              230434
444               65306
445               33638
446              250644
447              113794
448                2666
449              113786
450          C.A. 34651
451               65303
452              113051
453               17453
454            A/5 2817
455              349240
456               13509
457               17464
458        F.C.C. 13531
459              371060
460               19952
461              364506
462              111320
463              234360
464            A/S 2816
465  SOTON/O.Q. 3101306
466              239853
467              113792
468               36209
469                2666
470              323592
471              315089
472          C.A. 34651
473     SC/AH Basle 541
474                7553
475              110465
476               31027
477                3460
478              350060
479             3101298
480             CA 2144
481              239854
482            A/5 3594
483                4134
484               11967
485                4133
486               19943
487               11771
488          A.5. 18509
489          C.A. 37671
490               65304
491    SOTON/OQ 3101317
492              113787
493            PC 17609
494           A/4 45380
495                2627
496               36947
497           C.A. 6212
498              113781
499              350035
500              315086
501              364846
502              330909
503                4135
504              110152
505            PC 17758
506               26360
507              111427
508              C 4001
509                1601
510              382651
511    SOTON/OQ 3101316
512            PC 17473
513            PC 17603
514              349209
515               36967
516          C.A. 34260
517              371110
518              226875
519              349242
520               12749
521              349252
522                2624
523              111361
524                2700
525              367232
526         W./C. 14258
527            PC 17483
528             3101296
529               29104
530               26360
531                2641
532                2690
533                2668
534              315084
535        F.C.C. 13529
536              113050
537            PC 17761
538              364498
539               13568
540           WE/P 5735
541              347082
542              347082
543                2908
544            PC 17761
545                 693
546                2908
547       SC/PARIS 2146
548              363291
549          C.A. 33112
550               17421
551              244358
552              330979
553                2620
554              347085
555              113807
556               11755
557            PC 17757
558              110413
559              345572
560              372622
561              349251
562              218629
563     SOTON/OQ 392082
564   SOTON/O.Q. 392087
565           A/4 48871
566              349205
567              349909
568                2686
569              350417
570         S.W./PP 752
571               11769
572            PC 17474
573               14312
574          A/4. 20589
575              358585
576              243880
577               13507
578                2689
579   STON/O 2. 3101286
580              237789
581               17421
582               28403
583               13049
584                3411
585              110413
586              237565
587               13567
588               14973
589          A./5. 3235
590   STON/O 2. 3101273
591               36947
592            A/5 3902
593              364848
594         SC/AH 29037
595              345773
596              248727
597                LINE
598                2664
599            PC 17485
600              243847
601              349214
602              113796
603              364511
604              111426
605              349910
606              349246
607              113804
608       SC/Paris 2123
609            PC 17582
610              347082
611  SOTON/O.Q. 3101305
612              367230
613              370377
614              364512
615              220845
616              347080
617           A/5. 3336
618              230136
619               31028
620                2659
621               11753
622                2653
623              350029
624               54636
625               36963
626              219533
627               13502
628              349224
629              334912
630               27042
631              347743
632               13214
633              112052
634              347088
635              237668
636   STON/O 2. 3101292
637          C.A. 31921
638             3101295
639              376564
640              350050
641            PC 17477
642              347088
643                1601
644                2666
645            PC 17572
646              349231
647               13213
648       S.O./P.P. 751
649            CA. 2314
650              349221
651              231919
652                8475
653              330919
654              365226
655        S.O.C. 14879
656              349223
657              364849
658               29751
659               35273
660            PC 17611
661                2623
662                5727
663              349210
664   STON/O 2. 3101285
665        S.O.C. 14879
666              234686
667              312993
668            A/5 3536
669               19996
670               29750
671          F.C. 12750
672          C.A. 24580
673              244270
674              239856
675              349912
676              342826
677                4138
678             CA 2144
679            PC 17755
680              330935
681            PC 17572
682                6563
683             CA 2144
684               29750
685       SC/Paris 2123
686             3101295
687              349228
688              350036
689               24160
690               17474
691              349256
692                1601
693                2672
694              113800
695              248731
696              363592
697               35852
698               17421
699              348121
700            PC 17757
701            PC 17475
702                2691
703               36864
704              350025
705              250655
706              223596
707            PC 17476
708              113781
709                2661
710            PC 17482
711              113028
712               19996
713                7545
714              250647
715              348124
716            PC 17757
717               34218
718               36568
719              347062
720              248727
721              350048
722               12233
723              250643
724              113806
725              315094
726               31027
727               36866
728              236853
729    STON/O2. 3101271
730               24160
731                2699
732              239855
733               28425
734              233639
735               54636
736          W./C. 6608
737            PC 17755
738              349201
739              349218
740               16988
741               19877
742            PC 17608
743              376566
744   STON/O 2. 3101288
745           WE/P 5735
746           C.A. 2673
747              250648
748              113773
749              335097
750               29103
751              392096
752              345780
753              349204
754              220845
755              250649
756              350042
757               29108
758              363294
759              110152
760              358585
761    SOTON/O2 3101272
762                2663
763              113760
764              347074
765               13502
766              112379
767              364850
768              371110
769                8471
770              345781
771              350047
772         S.O./P.P. 3
773                2674
774               29105
775              347078
776              383121
777              364516
778               36865
779               24160
780                2687
781               17474
782              113501
783          W./C. 6607
784  SOTON/O.Q. 3101312
785              374887
786             3101265
787              382652
788           C.A. 2315
789            PC 17593
790               12460
791              239865
792            CA. 2343
793            PC 17600
794              349203
795               28213
796               17465
797              349244
798                2685
799              345773
800              250647
801          C.A. 31921
802              113760
803                2625
804              347089
805              347063
806              112050
807              347087
808              248723
809              113806
810                3474
811           A/4 48871
812               28206
813              347082
814              364499
815              112058
816    STON/O2. 3101290
817     S.C./PARIS 2079
818              C 7075
819              347088
820               12749
821              315098
822               19972
823              392096
824             3101295
825              368323
826                1601
827     S.C./PARIS 2079
828              367228
829              113572
830                2659
831               29106