In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import (roc_curve, auc, accuracy_score)
import numpy as np
import xgboost as xgb
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
train =pd.read_csv("./titanic/train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [33]:
test = pd.read_csv("./titanic/test.csv")

In [6]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [7]:
def kesson_table(df): 
        null_val = df.isnull().sum()
        percent = 100 * df.isnull().sum()/len(df)
        kesson_table = pd.concat([null_val, percent], axis=1)
        kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
        return kesson_table_ren_columns

In [8]:
kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age          177  19.865320
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       2   0.224467

In [9]:
kesson_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age           86  20.574163
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           1   0.239234
Cabin        327  78.229665
Embarked       0   0.000000

In [10]:
train["Age"] = train["Age"].fillna(train["Age"].mean())
train["Embarked"] = train["Embarked"].fillna("S")
kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       0   0.000000

In [11]:
test["Age"] = test["Age"].fillna(test["Age"].mean())
test["Embarked"] = test["Embarked"].fillna("S")
test["Fare"] = test["Fare"].fillna(test["Fare"].median())
kesson_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        327  78.229665
Embarked       0   0.000000

In [12]:
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
train.head()
train.drop("Cabin",axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,0
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,2

In [14]:
train2 = train.drop("Cabin",axis=1)
train2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

In [15]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1
test["Embarked"][test["Embarked"] == "S"] = 0
test["Embarked"][test["Embarked"] == "C"] = 1
test["Embarked"][test["Embarked"] == "Q"] = 2

/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/hide/.pyenv/versions/anaconda3-5.3.1/envs/py3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
test.head()
test.drop("Cabin",axis=1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",0,34.50000,0,0,330911,7.8292,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.00000,1,0,363272,7.0000,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.00000,0,0,240276,9.6875,2
3,895,3,"Wirz, Mr. Albert",0,27.00000,0,0,315154,8.6625,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.00000,1,1,3101298,12.2875,0
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",0,30.27259,0,0,A.5. 3236,8.0500,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.00000,0,0,PC 17758,108.9000,1
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,0
416,1308,3,"Ware, Mr. Frederick",0,30.27259,0,0,359309,8.0500,0
417,1309,3,"Peter, Master. Michael J",0,30.27259,1,1,2668,22.3583,1

In [18]:
test2 = test.drop("Cabin",axis=1)
test2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,0

In [19]:
target = train2["Survived"].values
features_one = train2[["Pclass", "Sex",  "Age",  "Fare"]].values

In [20]:
my_tree_one =DecisionTreeClassifier(random_state=0)
my_tree_one.fit(features_one, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [21]:
test_features = test2[["Pclass", "Sex",  "Age",  "Fare"]].values

In [24]:
my_prediction = my_tree_one.predict(test_features)

---
# 解説

## 変更した点
11cell目の<br>
```test["Fare"] = test["Fare"].fillna(test["Fare"].median)```<br>
を<br>
```test["Fare"] = test["Fare"].fillna(test["Fare"].median())```<br>
にした。<br><br>
> `test["Fare"].median` => `test["Fare"].median()`と`()`を付け加えた

## エラーが出た理由
`test["Fare"].median`では関数を呼び出しているため、返ってくる値が数値ではなくmethodになる
エラー文<br>
>`TypeError: float() argument must be a string or a number, not 'method'`

は`string or a number`が入るべきところに`method`が入ってしまっていることを示す。
従って`test["Fare"].median()`として数値を返すことで解決した。

# 実証

In [38]:
pd.set_option('display.max_rows', 500)
test = pd.read_csv("./titanic/test.csv")

wrong = test["Fare"].fillna(test["Fare"].median) 
correct = test["Fare"].fillna(test["Fare"].median())

In [40]:
pd.DataFrame(wrong)
#152行目が <<bound method Series.median of 0 7.8292... とfloat型ではないことが確認できる

                                                  Fare
0                                               7.8292
1                                                    7
2                                               9.6875
3                                               8.6625
4                                              12.2875
5                                                9.225
6                                               7.6292
7                                                   29
8                                               7.2292
9                                                24.15
10                                              7.8958
11                                                  26
12                                             82.2667
13                                                  26
14                                              61.175
15                                             27.7208
16                                               12.35
17                                               7.225
18                                               7.925
19                                               7.225
20                                                59.4
21                                              3.1708
22                                             31.6833
23                                             61.3792
24                                             262.375
25                                                14.5
26                                             61.9792
27                                               7.225
28                                                30.5
29                                             21.6792
30                                                  26
31                                                31.5
32                                              20.575
33                                               23.45
34                                               57.75
35                                              7.2292
36                                                8.05
37                                              8.6625
38                                                 9.5
39                                             56.4958
40                                             13.4167
41                                               26.55
42                                                7.85
43                                                  13
44                                             52.5542
45                                               7.925
46                                                29.7
47                                                7.75
48                                             76.2917
49                                                15.9
50                                                  60
51                                             15.0333
52                                                  23
53                                                 263
54                                             15.5792
55                                              29.125
56                                              7.8958
57                                                7.65
58                                                16.1
59                                             262.375
60                                              7.8958
61                                                13.5
62                                                7.75
63                                               7.725
64                                             262.375
65                                                  21
66                                              7.8792
67                                                42.4
68                                             28.5375
69                                                 263
70                                                7.75
71                                              7.8958
72                                               7.925
73                                             27.7208
74                                               211.5
75                                               211.5
76                                                8.05
77                                                25.7
78                                                  13
79                                                7.75
80                                             15.2458
81                                             221.779
82                                                  26
83                                              7.8958
84                                             10.7083
85                                             14.4542
86                                              7.8792
87                                                8.05
88                                                7.75
89                                                  23
90                                                13.9
91                                               7.775
92                                                  52
93                                                8.05
94                                                  26
95                                              7.7958
96                                               78.85
97                                               7.925
98                                              7.8542
99                                                8.05
100                                            55.4417
101                                                 26
102                                               7.75
103                                              7.775
104                                             8.5167
105                                             22.525
106                                             7.8208
107                                               7.75
108                                             8.7125
109                                                 13
110                                            15.0458
111                                             7.7792
112                                            31.6792
113                                             7.2833
114                                            221.779
115                                            14.4542
116                                             6.4375
117                                               16.7
118                                            75.2417
119                                                 26
120                                              15.75
121                                               7.75
122                                              57.75
123                                               7.25
124                                               7.75
125                                               16.1
126                                             7.7958
127                                              23.25
128                                                 13
129                                               8.05
130                                               8.05
131                                               28.5
132                                            25.4667
133                                             6.4375
134                                             7.8958
135                                             7.8542
136                                              7.225
137                                                 13
138                                               8.05
139                                               46.9
140                                               46.9
141                                             151.55
142                                            262.375
143                                                 26
144                                              26.55
145                                                 18
146                                            51.8625
147                                               8.05
148                                              26.55
149                                                 26
150                                            83.1583
151                                             7.8958
152  <bound method Series.median of 0        7.8292...
153                                            12.1833
154                                            31.3875
155                                               7.55
156                                            221.779
157                                             7.8542
158                                              26.55
159                                             13.775
160                                             7.7333
161                                            15.2458
162                                               13.5
163                                                  7
164                                                 13
165                                             22.025
166                                            50.4958
167                                             34.375
168                                            27.7208
169                                             8.9625
170                                               7.55
171                                              7.225
172                                               13.9
173                                             7.2292
174                                            31.3875
175                                                 39
176                                              36.75
177                                            55.4417
178                                                 39
179                                            83.1583
180                                                 13
181                                            83.1583
182                                               53.1
183                                               7.75
184                                            247.521
185                                                 16
186                                                 21
187                                               8.05
188                                              69.55
189                                                 13
190                                                 26
191                                                 26
192                                               14.5
193                                              12.35
194                                               32.5
195                                             7.8542
196                                              134.5
197                                              7.775
198                                               10.5
199                                             8.1125
200                                               15.5
201                                               14.4
202                                            227.525
203                                                 26
204                                               10.5
205                                            25.7417
206                                               7.75
207                                               10.5
208                                            27.7208
209                                             7.8958
210                                             22.525
211                                               7.05
212                                               73.5
213                                                 26
214                                              7.775
215                                               42.5
216                                             7.8792
217                                            164.867
218                                              211.5
219                                               8.05
220                                            13.8583
221                                               8.05
222                                               10.5
223                                             7.7958
224                                            27.4458
225                                            15.2458
226                                             7.7958
227                                               7.75
228                                               15.1
229                                                 13
230                                                 65
231                                              26.55
232                                             6.4958
233                                             7.8792
234                                            71.2833
235                                             7.8542
236                                              75.25
237                                              7.225
238                                                 13
239                                            106.425
240                                            27.7208
241                                                 30
242                                              134.5
243                                             7.8875
244                                              23.45
245                                            51.8625
246                                                 21
247                                               32.5
248                                                 26
249                                            14.4542
250                                              27.75
251                                              7.925
252                                            136.779
253                                              9.325
254                                                9.5
255                                               7.55
256                                               7.75
257                                               8.05
258                                                 13
259                                              7.775
260                                               17.4
261                                             7.8542
262                                                 23
263                                            12.1833
264                                            12.7375
265                                             7.8958
266                                                  0
267                                               7.55
268                                               8.05
269                                             8.6625
270                                            75.2417
271                                               7.75
272                                            136.779
273                                               15.5
274                                              7.225
275                                                 26
276                                               10.5
277                                                 26
278                                                 21
279                                               10.5
280                                             8.6625
281                                             13.775
282                                               7.75
283                                            15.2458
284                                            20.2125
285                                               7.25
286                                               7.25
287                                            82.2667
288                                             7.2292
289                                               8.05
290                                               39.6
291                                               6.95
292                                             7.2292
293                                            81.8583
294                                                9.5
295                                             7.8958
296                                            41.5792
297                                            21.6792
298                                               45.5
299                                             7.8542
300                                              7.775
301                                            15.0458
302                                                 21
303                                             8.6625
304                                               7.75
305                                              26.55
306                                             151.55
307                                               9.35
308                                               93.5
309                                            14.1083
310                                             8.6625
311                                              7.225
312                                              7.575
313                                               7.75
314                                            135.633
315                                             7.7333
316                                            146.521
317                                               10.5
318                                             7.8542
319                                               31.5
320                                              7.775
321                                             7.2292
322                                                 13
323                                              26.55
324                                            211.338
325                                               7.05
326                                                 39
327                                               79.2
328                                                 26
329                                                 13
330                                              36.75
331                                               29.7
332                                              7.225
333                                            15.7417
334                                             7.8958
335                                                 26
336                                                 13
337                                             7.2292
338                                               31.5
339                                             7.2292
340                                               10.5
341                                             7.5792
342                                              69.55
343                                            512.329
344                                               14.5
345                                               7.65
346                                                 13
347                                             7.2292
348                                               13.5
349                                                 21
350                                            63.3583
351                                               10.5
352                                               73.5
353                                                 65
354                                             20.575
355                                                 26
356                                            51.4792
357                                             7.8792
358                                               7.75
359                                              15.55
360                                              69.55
361                                            37.0042

In [41]:
pd.DataFrame(correct)
#全てがfloat型なのが確認できる

         Fare
0      7.8292
1      7.0000
2      9.6875
3      8.6625
4     12.2875
5      9.2250
6      7.6292
7     29.0000
8      7.2292
9     24.1500
10     7.8958
11    26.0000
12    82.2667
13    26.0000
14    61.1750
15    27.7208
16    12.3500
17     7.2250
18     7.9250
19     7.2250
20    59.4000
21     3.1708
22    31.6833
23    61.3792
24   262.3750
25    14.5000
26    61.9792
27     7.2250
28    30.5000
29    21.6792
30    26.0000
31    31.5000
32    20.5750
33    23.4500
34    57.7500
35     7.2292
36     8.0500
37     8.6625
38     9.5000
39    56.4958
40    13.4167
41    26.5500
42     7.8500
43    13.0000
44    52.5542
45     7.9250
46    29.7000
47     7.7500
48    76.2917
49    15.9000
50    60.0000
51    15.0333
52    23.0000
53   263.0000
54    15.5792
55    29.1250
56     7.8958
57     7.6500
58    16.1000
59   262.3750
60     7.8958
61    13.5000
62     7.7500
63     7.7250
64   262.3750
65    21.0000
66     7.8792
67    42.4000
68    28.5375
69   263.0000
70     7.7500
71     7.8958
72     7.9250
73    27.7208
74   211.5000
75   211.5000
76     8.0500
77    25.7000
78    13.0000
79     7.7500
80    15.2458
81   221.7792
82    26.0000
83     7.8958
84    10.7083
85    14.4542
86     7.8792
87     8.0500
88     7.7500
89    23.0000
90    13.9000
91     7.7750
92    52.0000
93     8.0500
94    26.0000
95     7.7958
96    78.8500
97     7.9250
98     7.8542
99     8.0500
100   55.4417
101   26.0000
102    7.7500
103    7.7750
104    8.5167
105   22.5250
106    7.8208
107    7.7500
108    8.7125
109   13.0000
110   15.0458
111    7.7792
112   31.6792
113    7.2833
114  221.7792
115   14.4542
116    6.4375
117   16.7000
118   75.2417
119   26.0000
120   15.7500
121    7.7500
122   57.7500
123    7.2500
124    7.7500
125   16.1000
126    7.7958
127   23.2500
128   13.0000
129    8.0500
130    8.0500
131   28.5000
132   25.4667
133    6.4375
134    7.8958
135    7.8542
136    7.2250
137   13.0000
138    8.0500
139   46.9000
140   46.9000
141  151.5500
142  262.3750
143   26.0000
144   26.5500
145   18.0000
146   51.8625
147    8.0500
148   26.5500
149   26.0000
150   83.1583
151    7.8958
152   14.4542
153   12.1833
154   31.3875
155    7.5500
156  221.7792
157    7.8542
158   26.5500
159   13.7750
160    7.7333
161   15.2458
162   13.5000
163    7.0000
164   13.0000
165   22.0250
166   50.4958
167   34.3750
168   27.7208
169    8.9625
170    7.5500
171    7.2250
172   13.9000
173    7.2292
174   31.3875
175   39.0000
176   36.7500
177   55.4417
178   39.0000
179   83.1583
180   13.0000
181   83.1583
182   53.1000
183    7.7500
184  247.5208
185   16.0000
186   21.0000
187    8.0500
188   69.5500
189   13.0000
190   26.0000
191   26.0000
192   14.5000
193   12.3500
194   32.5000
195    7.8542
196  134.5000
197    7.7750
198   10.5000
199    8.1125
200   15.5000
201   14.4000
202  227.5250
203   26.0000
204   10.5000
205   25.7417
206    7.7500
207   10.5000
208   27.7208
209    7.8958
210   22.5250
211    7.0500
212   73.5000
213   26.0000
214    7.7750
215   42.5000
216    7.8792
217  164.8667
218  211.5000
219    8.0500
220   13.8583
221    8.0500
222   10.5000
223    7.7958
224   27.4458
225   15.2458
226    7.7958
227    7.7500
228   15.1000
229   13.0000
230   65.0000
231   26.5500
232    6.4958
233    7.8792
234   71.2833
235    7.8542
236   75.2500
237    7.2250
238   13.0000
239  106.4250
240   27.7208
241   30.0000
242  134.5000
243    7.8875
244   23.4500
245   51.8625
246   21.0000
247   32.5000
248   26.0000
249   14.4542
250   27.7500
251    7.9250
252  136.7792
253    9.3250
254    9.5000
255    7.5500
256    7.7500
257    8.0500
258   13.0000
259    7.7750
260   17.4000
261    7.8542
262   23.0000
263   12.1833
264   12.7375
265    7.8958
266    0.0000
267    7.5500
268    8.0500
269    8.6625
270   75.2417
271    7.7500
272  136.7792
273   15.5000
274    7.2250
275   26.0000
276   10.5000
277   26.0000
278   21.0000
279   10.5000
280    8.6625
281   13.7750
282    7.7500
283   15.2458
284   20.2125
285    7.2500
286    7.2500
287   82.2667
288    7.2292
289    8.0500
290   39.6000
291    6.9500
292    7.2292
293   81.8583
294    9.5000
295    7.8958
296   41.5792
297   21.6792
298   45.5000
299    7.8542
300    7.7750
301   15.0458
302   21.0000
303    8.6625
304    7.7500
305   26.5500
306  151.5500
307    9.3500
308   93.5000
309   14.1083
310    8.6625
311    7.2250
312    7.5750
313    7.7500
314  135.6333
315    7.7333
316  146.5208
317   10.5000
318    7.8542
319   31.5000
320    7.7750
321    7.2292
322   13.0000
323   26.5500
324  211.3375
325    7.0500
326   39.0000
327   79.2000
328   26.0000
329   13.0000
330   36.7500
331   29.7000
332    7.2250
333   15.7417
334    7.8958
335   26.0000
336   13.0000
337    7.2292
338   31.5000
339    7.2292
340   10.5000
341    7.5792
342   69.5500
343  512.3292
344   14.5000
345    7.6500
346   13.0000
347    7.2292
348   13.5000
349   21.0000
350   63.3583
351   10.5000
352   73.5000
353   65.0000
354   20.5750
355   26.0000
356   51.4792
357    7.8792
358    7.7500
359   15.5500
360   69.5500
361   37.0042
362   21.0000
363    8.6625
364   55.4417
365   69.5500
366   14.4583
367   39.6875
368   59.4000
369   13.8583
370   11.5000
371  134.5000
372    0.0000
373   13.0000
374   81.8583
375  262.3750
376    8.6625
377   11.5000
378   50.0000
379   31.3875
380    7.7500
381    7.8792
382   14.5000
383   16.1000
384   12.8750
385   65.0000
386    7.7750
387   13.0000
388    7.7500
389   21.0750
390   93.5000
391   39.4000
392   20.2500
393   10.5000
394   22.0250
395   60.0000
396    7.2500
397   79.2000
398    7.7750
399    7.7333
400  164.8667
401   21.0000
402   59.4000
403   47.1000
404   27.7208
405   13.8625
406   10.5000
407  211.5000
408    7.7208
409   13.7750
410    7.7500
411   90.0000
412    7.7750
413    8.0500
414  108.9000
415    7.2500
416    8.0500
417   22.3583